@import "tailwindcss";

html {
  background: black;
  color: green;
  --bg-color: #001100;
}

*:focus-visible {
  outline: 2px solid green;
}

.retro-terminal {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--bg-color);
  color: #00ff00;
  border-radius: 0;
  position: relative;
  overflow: auto;
  text-shadow: 0 0 5px #00ff00;
  filter: drop-shadow(0 0 2px #00ff00);
  box-shadow:
    inset 0 0 10px #000,
    0 0 20px rgba(0, 255, 0, 0.3);
}

/* Scanlines effect */
.retro-terminal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

button {
  &:not(.link) {
    @apply p-2;
    border: 1px solid currentColor;
    background: transparent;
    font-weight: 800;
  }
  &.link {
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}

a {
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}

input {
  @apply border p-2;
}

table {
  width: 100%;
  table-layout: fixed; /* Ensures consistent column widths */
}

table th {
  background-color: var(--bg-color);
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 2;
}
